@model Ejyle.DevAccelerate.Samples.AspNetMvc.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    @Html.HiddenFor(model => model.Code)
    <p>
        <label for="inputEmail">Email Address</label>
        @Html.TextBoxFor(m => m.Email, new { id = "inputEmail", @class = "form-control", @placeholder = "Email address" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="inputPassword">Password</label>
        @Html.PasswordFor(m => m.Password, new { id = "inputPassword", @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </p>
    <p>
        <label for="inputConfirmPassword">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "inputConfirmPassword", @class = "form-control", @placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </p>
    <p>
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
