@model Ejyle.DevAccelerate.Samples.AspNetMvc.Models.AddPhoneNumberViewModel

@{
    ViewBag.Title = "Add / Change Phone Number";
}

@section BreadCrumb
{
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Manage")">Manage Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Phone Number</li>
    </ol>
</nav>    
}

@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </p>
    <p>
        <label for="inputPhoneNumber">Phone Number</label>
        @Html.TextBoxFor(m => m.Number, new { id = "inputPhoneNumber", @class = "form-control", @placeholder = "Phone number including the country code" })
    </p>
    <p>
        <input type="submit" class="btn btn-primary" value="Submit" />
        <a href="@Url.Action("Index", "Manage")" class="btn btn-secondary">Cancel</a>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
